/* 
    Document   : all
    Created on : Mar 22, 2011, 5:04:33 AM
    Author     : rakesh
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

